

.postTopPart{
    width: 90%;
    margin: auto;
    display: flex;
    
}
.postTopPart img{
    width: 30px;
    margin-right: 10px;
}
.postSenderDetail{
    display: flex;
    margin-right: 50px;
    font-size: larger;
    font-weight: 500;
}
.postSenderDetail div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.postContent{
    min-height: 100px;
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: large;
    font-weight: 300;
    /* font-family: cursive; */
}
.posts{
    /* margin: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.postedOn{
    margin-left: auto;
}
.likeComment{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
 }
 .likeComment .btn{
    width: 50%;
    margin: 2px;
 }
 .likes{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
 }
 .comments{
    width: 80%;
    margin: auto;
 }
 .userComment{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .userComment img{
    width: 30px;
    margin: 10px;
 }
 .userComment .form-control{
    width: 70%;
    height: 30px;
    margin: 5px;
 }
 .commentSenderDetail{
    width: 70%;
    margin: auto;
    display: flex;
 }
 .commentSenderDetail img{
    width: 30px;
    margin: 10px;
 }
 .commentSenderDetail div{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .commentSenderDetail .userName{
    font-weight: 500;
 }
 .commentContent{
    width: 50%;
    margin: auto;
 }
 .allCommentsContainer{
    margin-bottom: 25px;
 }
 .post,.posts{
    margin-bottom: 30px !important;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
 }