<div>
    <div class="profileHeading">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
        <div class="username">
            <span>
                {{user?.firstName}}
            </span>
            <span>
                {{user?.lastName}}
            </span>
        </div>
        <div class="about">
            {{user?.about}}
        </div>
        <div class="editButton" *ngIf="!urlId">
            <button class="btn btn-outline-primary btn-lg btn-block">Edit Profile</button>
        </div>
        <div class="editButton" *ngIf="urlId">
            <button class="btn btn-outline-primary btn-lg btn-block">Message</button>
        </div>
    </div>
    <div class="contentPosted">
        <button class="btn btn-outline-secondary btn-lg btn-block" (click)="toggleShowUserLikes()" *ngIf="!urlId">
            Likes
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </button>
        <div *ngIf="showLikes && !urlId" class="usersLike" >
            <div *ngFor="let likes of usersLikeOnPosts">
                You like <a routerLink="/profile/{{likes.postedByUserId}}"> {{likes.postedByUserFirstName}} {{likes.postedByUserLastName}}'s </a> <a routerLink="/post/{{likes.postId}}">'post</a> &nbsp; on &nbsp; {{likes.likedOn  | date: "MMM d, y" }}
            </div>
        </div>

        <button class="btn btn-outline-secondary btn-lg btn-block" (click)="toggleShowUserComments()" *ngIf="!urlId"> 
            Comments
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
        </button>
        
        <div *ngIf="showComments && !urlId" class="usersComment">
            <div *ngFor="let comment of comments">
                You commented on <a routerLink="/profile/{{comment.postedByUserId}}"> {{comment.postedByUserFirstName}} {{comment.postedByUserLastName}} </a> 's <a routerLink="/post/{{comment.postId}}">post</a> &nbsp; on &nbsp; {{comment.createdAt  | date: "MMM d, y" }}
            </div>

        </div>
        <app-posts [posts]="user?.posts" [defaultFirstName]="user?.firstName" [defaultLastName]="user?.lastName" [defaultUserId]="user?.id"></app-posts>    
    </div>

</div>