<div class="homeContainer">
  <div class="post">
    <div class="form-group">
      <label for="Post">What's On your mind</label>
      <input
        type="text"
        class="form-control"
        placeholder="Type Here"
        [(ngModel)]="postContent"
      />
    </div>
    <div class="postButton">
      <button
        class="btn btn-primary"
        [disabled]="postContent == ''"
        (click)="PostContent()"
      >
        Post
      </button>
    </div>
  </div>

  <app-posts [posts]="posts"></app-posts>
</div>
